@{
    ViewBag.Title = "Home Page";
}


<header class="intro-header" style="background-image: url('../Content/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ElevenNote</h1>
                    <hr class="small">
                    <span class="subheading">A robust notetaking application.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote is a powerful, notetaking application that
            enables users to record everything life's most important moments, whether it's
            a personal adventure or a business meeting, capture every important moment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote is a powerful, notetaking application that
            enables users to record everything life's most important moments, whether it's
            a personal adventure or a business meeting, capture every important moment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote is a powerful, notetaking application that
            enables users to record everything life's most important moments, whether it's
            a personal adventure or a business meeting, capture every important moment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>    </div>
</div>